<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button
        [defaultHref]="idRegister ? '/registers/' + idRegister : '/registers/add/select-institution/' + institutionId"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Anexo</ion-title>
    @if(isLoading){
      <ion-progress-bar type="indeterminate" color="light"></ion-progress-bar>
    }
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="document-attach-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if(!isLoading){
    <section class="ion-margin">
      @if(scanImgSrc){
        @if(!attachId){
          <ion-select
            class="ion-margin-bottom"
            label="Estilo"
            labelPlacement="floating"
            fill="outline"
            [formControl]="color"
            (ionChange)="changeColor()"
          >
            <ion-select-option value="grayscale">Blanco y negro</ion-select-option>
            <ion-select-option value="sepia">Sepia</ion-select-option>
            <ion-select-option value="color">Color</ion-select-option>
          </ion-select>
        }
        <div class="ion-margin-bottom">
          <ion-img alt="scanPhoto" [src]="scanImgSrc" />
        </div>
      }
      @if(loadFileSrc) {
        <ion-item>
          <ion-label class="bk-text">Anexo cargado:</ion-label>
          @if(annexLocalPath){
            <a (click)="openFile()" target="_blank" style="text-decoration: underline;">Ver anexo</a>
          } @else {
            @if(fileType === 'image'){
              <a (click)="openPreview()" style="text-decoration: underline;">Ver anexo</a>
            } @else {
              <span>Documento cargado</span>
            }
          }
        </ion-item>
      }

      @if(!attachId){
        <div class="container-btns">
          <div class="file-button">
            <ion-button expand="block" [disabled]="attachId">
              <ion-icon slot="start" name="cloud-upload"></ion-icon>
              Cargar anexo
            </ion-button>
            <input
              title="Cargar anexo"
              type="file"
              class="file-input"
              (change)="onFileSelected($event)"
              accept=".pdf, .jpg, .jpeg, .png, .webp, .gif, .heic"
            />
          </div>
          <ion-button expand="block" [disabled]="attachId" (click)="scan()">
            <ion-icon slot="start" name="scan-circle-outline"></ion-icon>
            Escanear
          </ion-button>
        </div>
      }

      <form
        [formGroup]="attachedForm"
        class="form-container"
        (ngSubmit)="saveAttached()"
      >
        <ion-input
          label="Nombre *"
          label-placement="floating"
          fill="outline"
          type="text"
          class="ion-margin-bottom"
          formControlName="name"
          errorText="Campo obligatorio (max 250 caracteres)"
          [counter]="true"
          maxlength="250"
        ></ion-input>
        <ion-textarea
          label="Descripción *"
          label-placement="floating"
          fill="outline"
          type="text"
          class="ion-margin-bottom"
          [autoGrow]="true"
          formControlName="description"
          errorText="Campo obligatorio (max 500 caracteres)"
          [counter]="true"
          maxlength="500"
        ></ion-textarea>
        @if(!attachId){
          <div class="btn-container">
            <ion-button
              type="submit"
              expand="block"
              [disabled]="!attachedForm.valid || (!loadFileSrc && !scanImgSrc)"
            >
              <ion-icon slot="start" name="document-attach-outline"></ion-icon>
              Guardar Anexo
            </ion-button>
          </div>
        }
      </form>
    </section>
  }

  @if(isPreviewOpen){
    <ion-modal [isOpen]="isPreviewOpen" (ionModalDidDismiss)="closePreview()">
      <ng-template>
        <ion-content>
          <ion-toolbar>
            <ion-title class="ion-margin">Vista previa</ion-title>
            <ion-buttons slot="end">
              <ion-button color="light" (click)="closePreview()">Cerrar</ion-button>
            </ion-buttons>
          </ion-toolbar>
          <div class="image-preview">
            <img [src]="loadFileSrc" alt="Vista previa de la imagen" />
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
  }

</ion-content>
