.main-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.h-45 {
  height: 45%;
}

.menu-container {
  display: flex;
  align-items: center;
  height: 60%;
  margin: 0 1rem;
}

.icon-menu {
  font-size: 7rem;
}

p {
  font-size: small;
  color: var(--ion-color-primary);
  font-weight: bold;
  margin: 0;
}

.btn-relative {
  position: relative;
}

.icon-absolute {
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 0;
}
