<ion-content [fullscreen]="true">
  <section class="main-container">
    <app-banner-gov class="h-45"/>
    <article class="menu-container">
      <ion-grid>
        <ion-row>
          <ion-col size="6" class="ion-text-center">
            <ion-button fill="clear" [routerLink]="['/profile']">
              <ion-icon slot="icon-only" name="person-circle-outline" class="icon-menu"></ion-icon>
            </ion-button>
            <p>Mi perfil</p>
          </ion-col>
          <ion-col size="6" class="ion-text-center">
            <ion-button fill="clear" [routerLink]="['/settings']">
              <ion-icon slot="icon-only" name="settings-outline" class="icon-menu"></ion-icon>
            </ion-button>
            <p>Ajustes</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6" class="ion-text-center">
            <ion-button fill="clear" [routerLink]="['/registers/me']">
              <ion-icon slot="icon-only" name="document-text-outline" class="icon-menu"></ion-icon>
            </ion-button>
            <p>Mis registros</p>
          </ion-col>

          <ion-col size="6" class="ion-text-center">
            <ion-button fill="clear" [routerLink]="['/registers/add']" class="btn-relative">
              <ion-icon slot="icon-only" name="document-text-outline" class="icon-menu"></ion-icon>
              <ion-icon name="add-circle-outline" class="icon-absolute"></ion-icon>
            </ion-button>
            <p>Nuevo registro</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </article>
  </section>
</ion-content>
