<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title> Mis registros </ion-title>
    @if(isLoading){
      <ion-progress-bar type="indeterminate" color="light"></ion-progress-bar>
    }
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="document-text-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <section class="filters-section">
    <form class="form-container" [formGroup]="searchForm">
      <ion-select label="Departamento" placeholder="Selecciona una opción" label-placement="floating" fill="outline" class="select-item" formControlName="department">
        <ion-select-option value="apple">Apple</ion-select-option>
        <ion-select-option value="banana">Banana</ion-select-option>
        <ion-select-option value="orange">Orange</ion-select-option>
      </ion-select>
      <ion-select label="Zona" placeholder="Selecciona una opción" label-placement="floating" fill="outline" class="select-item" formControlName="zone">
        <ion-select-option value="apple">Apple</ion-select-option>
        <ion-select-option value="banana">Banana</ion-select-option>
        <ion-select-option value="orange">Orange</ion-select-option>
      </ion-select>
      <ion-select label="Municipio" placeholder="Selecciona una opción" label-placement="floating" fill="outline" class="select-item" formControlName="city">
        <ion-select-option value="apple">Apple</ion-select-option>
        <ion-select-option value="banana">Banana</ion-select-option>
        <ion-select-option value="orange">Orange</ion-select-option>
      </ion-select>
      <ion-select label="Sede" placeholder="Selecciona una opción" label-placement="floating" fill="outline" class="select-item" formControlName="headquarters">
        <ion-select-option value="apple">Apple</ion-select-option>
        <ion-select-option value="banana">Banana</ion-select-option>
        <ion-select-option value="orange">Orange</ion-select-option>
      </ion-select>
      <div class="buttons">
        <ion-button type="submit" expand="block">Buscar</ion-button>
        <ion-button expand="block" color="medium" (click)="clearFields()" [disabled]="!searchForm.dirty">Limpiar</ion-button>
      </div>
    </form>
  </section> -->
  <!-- <span>{{registers() | json}}</span> -->
  @if (myRegisters.length){
  <ion-card>
    <div class="table-container registers-table">
      <table>
        <!-- Definir el ancho específico en el estilo de la tabla -->
        <colgroup>
          <col class="first-column-width" />
          <col />
        </colgroup>

        <!-- Renderizado dinámico de la tabla -->
        @for(register of myRegisters; track register.institution || register.uuid) {
          <tr>
            <th colspan="2" class="ion-text-center">
              {{register.institution + ' (' + register?.institutionRadicado + ')'}}
            </th>
          </tr>
          @for(record of register.records; track record.id || record.uuid) {
            <tr>
              <td>
                <a [routerLink]="['/registers', (record.id || record.uuid)]">{{record.field_date || record.created | date: 'dd/MM/yyyy'}}</a>
              </td>
              <td>{{record.teacher || record.teacher_name || 'sin sede'}}</td>
            </tr>
          }
        }

      </table>

      @if(hasMoreData) {
        <ion-infinite-scroll threshold="50px" (ionInfinite)="loadMoreData($event)">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más datos...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      }
    </div>
  </ion-card>
  } @else {
  @if(!isLoading){
    <div class="ion-margin">
      <p>No se encontraron registros</p>
    </div>
  }
  }
</ion-content>
