<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Mis registros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <div class="table-container registers-table">
      <table>
        <tr>
          <th>Registro</th>
          <th>Institución Educativa</th>
        </tr>
        @for( row of data; track row.zona; let i = $index;){
          <tr>
            <td [attr.data-tooltip]="row.departamento">{{row.departamento}}</td>
            <td [attr.data-tooltip]="row.zona">{{row.zona}}</td>
          </tr>
        }
      </table>

      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más datos...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </ion-card>
</ion-content>
