.container-cv {
  position: relative;
  display: flex;
  justify-content: center;
}

.canvas-style {
  width: 100%;
  border: 1px solid #000;
  // border-radius: .5rem;
  margin: 0 auto;
}

.btns-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.img-signature {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
