<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Ajustes
    </ion-title>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información de la Aplicación</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Conectividad</ion-label>
        <ion-icon slot="end" name="wifi-outline" [color]="isOnline() ? 'success' : 'danger'"></ion-icon>
        <ion-note slot="end">{{isOnline() ? 'Conectado' : 'Sin conexión a internet'}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Versión</ion-label>
        <ion-note slot="end">1.0.0</ion-note>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Sincronización de Base de Datos -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Base de Datos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Estado sincronización</ion-label>
        <ion-note slot="end">{{ syncStatus }}</ion-note>
      </ion-item>

      <!-- Botón para sincronizar la base de datos -->
      <!-- <ion-button expand="block" color="secondary" (click)="syncDatabase()">
        Sincronizar usuario
      </ion-button> -->

      <!-- Botón para descargar la base de datos -->
      <!-- <ion-button expand="block" color="medium" (click)="downloadDatabase()">
        Descargar Base de Datos Local
      </ion-button> -->
    </ion-card-content>
  </ion-card>

  <!-- Otras configuraciones -->
  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>Configuraciones adicionales</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Modo Oscuro</ion-label>
        <ion-toggle (ionChange)="toggleDarkMode()"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Almacenamiento en caché</ion-label>
        <ion-button color="danger" expand="block" (click)="clearCache()">Limpiar Caché</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card> -->
</ion-content>
