<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" [routerLink]="['/home']">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tracing" [routerLink]="['/tracing']">
      <ion-icon aria-hidden="true" name="navigate-circle"></ion-icon>
      <ion-label>Seguimiento</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reports" [routerLink]="['/reports']">
      <ion-icon aria-hidden="true" name="bar-chart"></ion-icon>
      <ion-label>Reportes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" [routerLink]="['/settings']">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
      <ion-label>Ajustes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
