.filters-section {
  margin: 2rem 1rem 0 1rem;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: .8rem;
}

.select-item {
  width: 48%;
}

.buttons {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.card-info {
  position: relative;
}

.icon-card {
  position: absolute;
  font-size: 1.5rem;
  right: 0;
  bottom: 10%;
}

.header-container {
  margin-right: .5rem;
  display: flex;
  justify-content: end;
}
