<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title> Mi perfil </ion-title>
    @if(isLoading){
      <ion-progress-bar type="indeterminate" color="light"></ion-progress-bar>
    }
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  @if(userInfo?.id || userInfo?.uuid){
  <!-- <ion-card-title class="ion-text-center ion-margin-bottom">Información del Tutor</ion-card-title> -->
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <p><strong>Nombre Tutor:</strong></p>
      </ion-col>
      <ion-col size="6">
        <p class="ion-text-capitalize">{{tutorName || ''}}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <p><strong>{{documentType || 'Cédula de ciudadanía:'}}</strong></p>
      </ion-col>
      <ion-col size="6">
        <p>{{identification || ''}}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <p><strong>Correo electrónico:</strong></p>
      </ion-col>
      <ion-col size="6">
        <p>{{email || ''}}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <p><strong>Nombre de usuario:</strong></p>
      </ion-col>
      <ion-col size="6">
        <p>{{username || ''}}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <p><strong>Departamento:</strong></p>
      </ion-col>
      <ion-col size="6">
        <p>{{department || ''}}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <p><strong>Zonas:</strong></p>
      </ion-col>
      <ion-col size="6">
        @for(zone of zonesList; track zone.id || zone.uuid){
        <p>{{zone.title || zone.name || ''}}</p>
        }
      </ion-col>
    </ion-row>
    @for(group of groups; track group.id || group.uuid; let i = $index;){
    <ion-row>
      <ion-col size="6">
        <p><strong>Municipio {{i + 1}}</strong></p>
      </ion-col>
      <ion-col size="6">
        <p>
          {{group.field_municipality || group.municipality || ''}}
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <p><strong>Sedes</strong></p>
      </ion-col>
      <ion-col size="6">
        @if(isOnline()){ @for(sede of group.groupOffices; track sede.id){
        <p>{{sede.attributes.title || ''}}</p>
        } } @else { @for(sede of group.sedes; track sede.uuid){
        <p>{{sede.name || ''}}</p>
        } }
      </ion-col>
    </ion-row>
    }
  </ion-grid>

}

@if(!isLoading){
  <div class="btn-ct">
    <ion-button expand="stacked" color="medium" (click)="goToChangePage()">
      <ion-icon name="refresh-outline" slot="start"></ion-icon>
      Cambiar contraseña
    </ion-button>
    <ion-button expand="stacked" (click)="logout()">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      Cerrar sesión
    </ion-button>
  </div>
}
</ion-content>
