<div class="cropper">
  <span class="title">Selecciona el área que deseas recortar</span>
  <image-cropper
    #cropper
    [imageBase64]="image()"
    [onlyScaleDown]="true"
    [maintainAspectRatio]="true"
    [aspectRatio]="imgWidth() / imgHeight()"
    [hideResizeSquares]="isMobile"
    [transform]="transform"
    format="png"
    [autoCrop]="false"
    (imageCropped)="imageCropped($event)"
    (loadImageFailed)="loadImageFailed()">
  </image-cropper>
  <div class="btn-container">
    <ion-button fill="clear" (click)="discardChanges()">
      <ion-icon slot="icon-only" name="close-circle" color="danger"></ion-icon>
    </ion-button>
    <ion-button fill="clear" (click)="cropImage()">
      <ion-icon name="checkmark-circle" color="success"></ion-icon>
    </ion-button>
  </div>
</div>
