<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title> Nuevo registro </ion-title>
    @if(isLoading){
      <ion-progress-bar type="indeterminate" color="light"></ion-progress-bar>
    }
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="document-text-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar class="second-toolbar">
      <ion-title class="title">Seleccionar docente</ion-title>
    </ion-toolbar>
  </ion-header>
  @if(tutorInfo?.id || tutorInfo?.uuid) {
  <ion-card-title class="ion-padding-horizontal ion-padding-top"
    >{{tutorInfo?.field_department || tutorInfo?.department_name}}</ion-card-title
  >
  <ion-accordion-group class="ion-margin" [value]="accordionValues">
    @for (zone of zonesList; track zone.id || zone.uuid){
    <ion-accordion [value]="zone.id || zone.uuid">
      <ion-item slot="header">
        <ion-label>
          <strong>{{(zone.title || zone.name) + ' / ' + (zone.field_department || zone.department || '')}}</strong>
        </ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-accordion-group>
          @for(sede of zone.sedes; track sede.id || sede.uuid){
            <ion-accordion>
              <ion-item slot="header" lines="none" class="container-item">
                <ion-label class="label">
                <!-- <ion-label [routerLink]="[sede.id || sede.uuid]" class="label"> -->
                  {{sede.attributes?.title || sede.name}}
                </ion-label>
              </ion-item>

              <ion-list slot="content">
                @for(teacher of sede.teachers; track teacher.id || teacher.uuid) {
                    <ion-item lines="none" class="teacher-item">
                      <ion-label (click)="navigateWithState((teacher.id || teacher.uuid), (sede?.attributes?.title || sede.name), (sede?.attributes?.field_based || sede.based), (sede.id || sede.uuid))">
                        {{teacher.attributes?.title || teacher.name}}
                      </ion-label>
                    </ion-item>
                }
              </ion-list>
            </ion-accordion>

          }
        </ion-accordion-group>
      </ion-list>
    </ion-accordion>
    }
  </ion-accordion-group>
  }
</ion-content>
