* {
  font-size: 1.15rem;
}

.second-toolbar {
  --min-height: 2.5rem;
}

.container-item {
  padding-left: 1.5rem;
}

//estilos acordeon
ion-card-title {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: bold;
}

ion-accordion ion-item {
  --inner-padding-start: 0px; /* Reduce el padding de los items */
}

ion-accordion ion-item[slot="header"] {
  font-weight: bold;
}

ion-accordion-group {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.label {
  color: var(--ion-color-primary);
  font-size: 1rem;
}

ion-toolbar {
  ion-title {
    padding: 0;
  }
  ion-buttons {
    align-items: center;
    ion-icon {
      font-size: 2rem;
    }
  }
}

.title {
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}
