.title {
  font-size: 1rem;
  text-align: center;
}

.second-toolbar {
  --min-height: 2.5rem;
}

.container-item {
  padding-left: 1.5rem;
}

//estilos acordeon
ion-card-title {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: bold;
}

ion-accordion ion-item {
  --inner-padding-start: 0px; /* Reduce el padding de los items */
}

ion-accordion ion-item[slot="header"] {
  font-weight: bold;
}

ion-accordion-group {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.label {
  color: var(--ion-color-primary);
  font-size: 14px;
}
