.title {
  font-size: 1rem;
  text-align: center;
  color: var(--ion-color-primary);
}

.second-toolbar {
  --min-height: 2.5rem;
}

.i-label {
  font-size: .6rem;
  white-space: normal;
  text-align: center;
}

ion-icon, ion-label {
  color: #FFF;
}
