.title {
  font-size: 1rem;
  text-align: center;
  color: var(--ion-color-primary);
}

.second-toolbar {
  --min-height: 2.5rem;
}

ion-toolbar {
  ion-title {
    padding: 0;
  }
  ion-buttons {
    align-items: center;
    ion-icon {
      font-size: 2rem;
    }
  }
}

ion-button {
  ion-icon {
    font-size: 1rem;
  }
}

.title-subsect {
  font-weight: bold;
}

.list-item {
  font-size: 14px;
  text-decoration: underline;
  margin: 0;
}

.item {
  height: 35px;
}
