.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--ion-color-primary);
  height: 100%;
}

.img-cpe{
  width: 70%;
}

.img-gov {
  width: 40%;
}

.title-banner {
  text-align: center;
  font-size: 14px;
  width: 60%;
  color: #FFF;
}
