<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tracing"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro de seguimiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="ion-margin">
    <form [formGroup]="detailForm">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input label="Región" label-placement="floating" fill="outline" type="text" class="ion-margin-bottom" formControlName="region"></ion-input>
            <ion-select label="Zona" label-placement="floating" fill="outline" class="ion-margin-bottom" formControlName="zone">
              <ion-select-option value="apple">Apple</ion-select-option>
              <ion-select-option value="banana">Banana</ion-select-option>
              <ion-select-option value="orange">Orange</ion-select-option>
            </ion-select>
            <ion-input label="Sede" label-placement="floating" fill="outline" type="text" class="ion-margin-bottom" formControlName="headquarter"></ion-input>
            <ion-select label="Actividad" label-placement="floating" fill="outline" class="ion-margin-bottom" formControlName="activity">

            </ion-select>

          </ion-col>
          <ion-col>
            <ion-input label="Departamento" label-placement="floating" fill="outline" type="text" class="ion-margin-bottom" formControlName="department"></ion-input>
            <ion-select label="Municipio" label-placement="floating" fill="outline" class="ion-margin-bottom" formControlName="city">

            </ion-select>
            <!-- <ion-input label="Tutor" label-placement="floating" fill="outline" type="text" class="ion-margin-bottom" formControlName="tutor"></ion-input> -->
            <ion-select label="Enfoque" label-placement="floating" fill="outline" class="ion-margin-bottom" formControlName="approach">

            </ion-select>
            <ion-select label="Subactividad" label-placement="floating" fill="outline" class="ion-margin-bottom" formControlName="subactivity">

            </ion-select>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    <div class="subtitle-btn">
      <h4>Evidencia fotográfica</h4>
      <ion-button expand="block" [routerLink]="['/tracing/photo-evidence/add']">Agregar</ion-button>
    </div>
    <ion-grid>
      <ion-col>
        <ion-card>
          <table>
            <tr>
              <th>Nombre</th>
              <th>Fecha</th>
              <th>Ver detalle</th>
            </tr>
            @for (item of photos; track item.name){
              <tr>
                <td>{{item.name}}</td>
                <td>{{item.date}}</td>
                <td>
                  <ion-button fill="clear" color="primary"  [routerLink]="['/tracing', 'photo-evidence', item.id]">
                  <!-- <ion-button fill="clear" color="primary"  [routerLink]="['/tracing', currentId, 'photo-evidence', item.id]"> -->
                    <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
                  </ion-button>
                </td>
              </tr>
            }
          </table>
        </ion-card>
      </ion-col>
    </ion-grid>
    <ion-textarea label="Descripción" label-placement="floating" fill="outline" type="text" class="ion-margin-bottom" [autoGrow]="true" [(ngModel)]="description" disabled></ion-textarea>
    <ion-textarea label="Novedades" label-placement="floating" fill="outline" type="text" class="ion-margin-bottom" [autoGrow]="true" [(ngModel)]="news" disabled></ion-textarea>
    <div class="subtitle-btn">
      <h4>Anexos</h4>
      <ion-button expand="block">Agregar</ion-button>
    </div>
    <ion-grid>
      <ion-col>
        <ion-card>
          <table>
            <tr>
              <th>Nombre</th>
              <th>Ver detalle</th>
            </tr>
            @for (item of photos; track item.name){
              <tr>
                <td>{{item.name}}</td>
                <td>
                  <ion-button fill="clear" color="primary" [routerLink]="['/tracing', 'attached', item.id]">
                  <!-- <ion-button fill="clear" color="primary" [routerLink]="['/tracing', currentId, 'attached', item.id]"> -->
                    <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
                  </ion-button>
                </td>
              </tr>
            }
          </table>
        </ion-card>
      </ion-col>
    </ion-grid>
  </section>
</ion-content>
