<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['tracing/add']"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro evidencia fotográfica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="ion-margin">
    <div class="container-img">
      <ion-thumbnail slot="start" class="img">
        <img alt="ejemplo" [src]="'../../../../../assets/img/logo.png'" />
      </ion-thumbnail>
      <div class="container-btns">
        <ion-button expand="block">Cargar foto</ion-button>
        <ion-button expand="block">Tomar foto</ion-button>
      </div>
    </div>
    <form [formGroup]="photoForm" class="form-container">
      <ion-input label="Nombre" label-placement="floating" fill="outline" type="text" class="ion-margin-bottom" formControlName="name"></ion-input>
      <ion-textarea label="Descripción" label-placement="floating" fill="outline" type="text" class="ion-margin-bottom" [autoGrow]="true" formControlName="description"></ion-textarea>
      <ion-input label="Fecha" label-placement="floating" fill="outline" type="text" class="ion-margin-bottom" formControlName="date"></ion-input>
      <ion-input label="Hora" label-placement="floating" fill="outline" type="text" class="ion-margin-bottom" formControlName="time"></ion-input>
      <ion-input label="Latitud" label-placement="floating" fill="outline" type="text" class="ion-margin-bottom" formControlName="latitude"></ion-input>
      <ion-input label="Longitud" label-placement="floating" fill="outline" type="text" class="ion-margin-bottom" formControlName="longitude"></ion-input>
    </form>
  </section>
</ion-content>
