.img {
  width: 100px;
  height: auto;
}

.container-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.form-container {
  margin: 1rem 0;
}

.container-btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.flex-column {
  flex-direction: column;
}
