/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/high-contrast.system.css';
// @import '@ionic/angular/css/palettes/dark.system.css';


//styles
.error-message {
  color: rgb(204, 16, 16);
  margin-left: 1rem;
  font-size: .8rem;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.toolbar {
  --background: var(--ion-color-primary);
  color: #FFF;
}

//Estilos tabla

table {
  width: 100%;
  table-layout: fixed;
}

.table-container {
  height: auto;
  max-height: 85vh;
  overflow-y: auto;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 1.1rem;
}

th {
  background-color: #e9e9e9;
  position: sticky;
  top: 0;
  z-index: 1;
  font-size: 1.2rem;
}

// tr > td:last-child {
//   font-size: 1.2rem;
//   text-transform: capitalize;
// }

.registers-table th:first-child, td:first-child {
  width: 35%;
}

// .act-table th:last-child, td:last-child {
//   width: 40%;
// }

//alert
.error-alert .alert-head {
  .alert-title{
    color: white;
  }
  background-color: red;
  text-align: center;
}

.success-alert .alert-head {
  .alert-title{
    color: white;
  }
  background-color: var(--ion-color-primary);
  text-align: center;
}

.warning-alert .alert-head {
  .alert-title{
    color: white;
  }
  background-color: #FFA500;
  text-align: center;
}

.error-alert .alert-message, .success-alert .alert-message, .warning-alert .alert-message {
  padding-top: 1rem !important;
  padding: 1rem;
  text-align: center;
}

.error-alert .alert-button-group, .success-alert .alert-button-group, .warning-alert .alert-button-group {
  display: flex;
  justify-content: center;
}

.error-alert .alert-button {
  color: red;
}

.success-alert .alert-button {
  color: var(--ion-color-primary);
}

