ion-toolbar {
  ion-title {
    padding: 0;
  }
  ion-buttons {
    align-items: center;
    ion-icon {
      font-size: 2rem;
    }
  }
}

.img {
  width: 100px;
  height: auto;
}

.container-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.form-container {
  margin: 1rem 0;
}

.container-btns {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}

.flex-column {
  flex-direction: column;
  width: auto;
}

.file-input {
  position: absolute;
  opacity: 0;
  width: 100%;
  top: 0;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}

.file-button {
  position: relative;
  display: inline-block;
  width: auto;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}


