
ion-content::part(scroll) {
  padding: 0;
}

.main-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.h-45 {
  height: 45%;
}

.login-container {
  display: flex;
  height: 60%;
  flex-direction: column;
  justify-content: center;
  margin: 0 15%;
}

.icon-login-ct {
  display: flex;
  justify-content: center;
}

.icon-login {
  font-size: 6rem;
  color: var(--ion-color-primary);
}

.logo {
  width: 100%;
  max-width: 150px;
  margin: 0 auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1.5rem 0 0 0;
}

.inp-style{
  position: relative;
}

.icon {
  position: absolute;
  color: var(--ion-color-primary);
  font-size: 1.5rem;
  right: 1rem;
  top: 20%;
  z-index: 2;
}

.forgot-pass {
  display: block;
  text-align: right;
  font-size: .8rem;
  color: var(--ion-color-primary);
}

